

<!-- Content Section
================================================== -->

    <h5>Survey: <%= @survey.title%></h5><br>
    <h5>Question: <%= @question.content%></h5><br>
    <h5>Choice: <%= @choice.choice_content%></h5><br>
  <p>
  <h3> Edit Your Choice </h3>
  <form action=<%="/surveys/#{@survey.id}/questions/#{@question.id}/choices/#{@choice.id}"%> method="post">
    <input type="hidden" name="_method" value="put"></input>
    <textarea name="choice[choice_content]"><%= @choice.choice_content%></textarea><br>
    <button type="submit">Submit</button>
  </form>
  <p>
  <form action=<%="/surveys/#{@survey.id}/questions/#{@question.id}/choices/#{@choice.id}"%> method="post">
    <input type="hidden" name="_method" value="delete"></input>
    <button type="submit">Delete</button>
  </form>


<a href=<%="/surveys/#{@survey.id}/questions/#{@question.id}"%>>Back to Question</a>
