

<!-- Content Section
    ================================================== -->



  <h3>Survey Title: <%= "#{@survey.title}" %></h3>
  <h4>Question Content: <%= "#{@question.content}"%></h4>

  <form action=<%="/surveys/#{@survey.id}/questions/#{@question.id}"%> method="post">
    <input type="hidden" name="_method" value="delete"></input>
    <button type="submit"> Delete Question </button>
  </form>

  <form action=<%="/surveys/#{@survey.id}/questions/#{@question.id}/edit"%> method="get">
    <button type="submit">Edit Question</button>
  </form>
  <br>
  <br>
  <a href=<%="/surveys/#{@survey.id}"%>>Back to Survey</a>

  <h3>Choices</h3>
  <ol>
    <% @question.choices.each do |choice| %>
      <a href=<%="/surveys/#{@survey.id}/questions/#{@question.id}/choices/#{choice.id}"%>><li><%= choice.choice_content %></li></a>
    <%end %>
  </ol>

  <h3>Add a Choice</h3>
  <form action=<%="/surveys/#{@survey.id}/questions/#{@question.id}/choices/new"%> method="post">
    <input type="text" name="choice_content" placeholder="Your Choice"></input>
    <input type="submit" value="submit"/>
  </form>








